#quote-text{
  height: 100%;
  
}

.vertical-align {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

#social-media {
  
  display : flex;
  justify-content: space-around;
}

#social-media, i{
 font-size: 2rem;
 text-decoration: none;
}


#footer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100px;
  width: 100%;
  background-color: gray;
  color: white
}

@media only screen and (max-width: 1026px) {
  #login-show {
      display: none !important;
  }

 
}
@media only screen and (min-width: 1026px) {
 
  #login-nav {
      display: none !important;
  }
}